<%= stylesheet_link_tag 'login.css' %>
<div class="container">
  <h2>LOGIN FORM</h2>

    <div class = "login-register">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email, "EMAIL" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "PASSWORD" %><br />
        <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:'btn btn-light mb-2' %>
      </div>
    <% end %>
      <div class= "forgot-pw-link">
      <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <h4><u><%= link_to "Forgot your password?", new_password_path(resource_name) %><br /></u></h4>
      <% end %>
      </div>
      
    </div>
</div>

